@model ElJournal.UserStudent

@{
    ViewBag.Title = "Детали";
}

<h2>Детали студента</h2>


<body class="d-flex h-100 text-bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <div>
            <h4>Информация о студенте</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Имя студента
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NameS)
                </dd>

                <dt>
                    Фамилия студента
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SecondS)
                </dd>
                <dt>
                    Отчество студента (при наличии)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MiddleS)
                </dd>
                <dt>
                    Почта студента
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt>
                    Альтернативная почта
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OtherEmail)
                </dd>

            </dl>
        </div>
        <p>
            <button type="button" class="btn btn-light">@Html.ActionLink("Редактировать данные", "Edit", new { id = Model.IdUserStudents })</button>
            <button type="button" class="btn btn-light">@Html.ActionLink("Вернуться в список", "Index")</button>
        </p>
        </div>
</body>