@model ElJournal.Evaluation

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Evaluation</h4>
        <hr />

        <div class="form-group">
            @*@Html.LabelFor(model => model.Evaluation1, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <p>Оценка студента</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Evaluation1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Evaluation1, "", new { @class = "text-danger" })
            </div>
        </div>


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @*@Html.LabelFor(model => model.StudentId, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <p>Почта студента</p>
            <div class="col-md-10">
                <select name="StudentId" id="select_storeId1" class="nav-item">
                    @foreach (var item2 in ViewBag.ListStudents)
                    {
                        <option value="@item2.Id">@item2.User.Email</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.StudentId, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @*@Html.LabelFor(model => model.CodeProfessorItemId, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <p>Дисциплина</p>
            <div class="col-md-10">
                <select name="CodeProfessorItemId" id="select_storeId" class="nav-item">
                    @foreach (var item2 in ViewBag.ListProfesserItem)
                    {
                        <option value="@item2.Id">@item2.Item.NameItem1</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.CodeProfessorItemId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.GroupId, "GroupId", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <p>Семестр</p>
            <div class="col-md-10">
                @Html.DropDownList("SemestrId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SemestrId, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(function () {
            $("#select_storeId").chosen();
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $("#select_storeId1").chosen();
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $("#GroupId").chosen();
        });
    </script>
}
