@model IEnumerable<ElJournal.Evaluation>
@using Microsoft.AspNet.Identity

<style>
    .newitems {
        color: white;
    }

    .nav-link {
        padding: 0;
        color: black;
    }
</style>

@{
    ViewBag.Title = "Index";
}


<body class="d-flex h-100 text-center text-bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0">Журнал информации</h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    @Html.Partial("_LoginPartial")
                    <button type="button" class="btn btn-light m-lg-1 mb-1">@Html.ActionLink("Домашняя страница", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</button>
                    <button type="button" class="btn btn-light m-lg-1 mb-1">@Html.ActionLink("Информация", "About", "Home", new { area = "" }, new { @class = "nav-link" })</button>
                    <button type="button" class="btn btn-light m-lg-1 mb-1"> @Html.ActionLink("Профиль", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })</button>
                    @if (User.Identity.GetUserName() == "lulakushka@gmail.com")
                    {
                        <button type="button" class="btn btn-light m-lg-1 mb-1"> @Html.ActionLink("Лог действий", "Log", "Home", routeValues: null, htmlAttributes: new { title = "", @class = "nav-link" })</button>
                    }
                    else { }
                    <button type="button" class="btn btn-light m-lg-1 mb-1"><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></button>
                </nav>
            </div>
        </header>

        <p>
            <button type="button" class="btn btn-light m-lg-1 mb-1">@Html.ActionLink("Создать новую зависимость", "Create", new { area = "" }, new { @class = "nav-link" })</button>
            <button type="button" class="btn btn-light m-lg-1 mb-1">@Html.ActionLink("Отправка письма", "EmailRequest", new { area = "" }, new { @class = "nav-link" })</button>
        </p>


        <h2>Оценки</h2>

        <style>
            .card-container {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }

            .maincard {
                margin-bottom: 20px;
            }

            card {
                display: flex;
                justify-content: space-between;
                bottom: 10px;
            }

            .card-title {
                color: black;
            }

            .card-text {
                color: black;
            }
        </style>

        <div class="card-container">
            @foreach (var item in Model)
            {
                <div class="maincard">
                    <div class="card" style="width: 18rem;">

                        <div class="maxcard">
                            <div class="card-body">
                                <h5 class="card-title">Данные оценок</h5>
                                <p class="card-text">Оценка, студент, предмет.</p>
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item"> @Html.DisplayFor(modelItem => item.Student.User.SecondS)</li>
                                <li class="list-group-item"> @Html.DisplayFor(modelItem => item.Student.User.NameS)</li>
                                <li class="list-group-item"> @Html.DisplayFor(modelItem => item.Student.User.Email)</li>
                                <li class="list-group-item"> @Html.DisplayFor(modelItem => item.Evaluation1)</li>
                                <li class="list-group-item"> @Html.DisplayFor(modelItem => item.CodeProfessorItem.Item.NameItem1)</li>
                                <li class="list-group-item"> @Html.DisplayFor(modelItem => item.Semestr.NameSemesrt)</li>
                            </ul>
                            <div class="card-body">
                                <button type="button" class="btn btn-black">@Html.ActionLink("Редактировать", "Edit", new { id = item.Id })</button>
                                <button type="button" class="btn btn-black">@Html.ActionLink("Удалить", "Delete", new { id = item.Id })</button>
                            </div>
                        </div>

                    </div>
                </div>
            }
        </div>
</body>