@model ElJournal.Professor
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Педагоги</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.F)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.I)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.I)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.O)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.O)
        </dd>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
