@model ElJournal.Professor
@{
    ViewBag.Title = "Edit";
}

<style>
    .btn {
        margin-bottom: 10px;
    }

    .col {
        margin-bottom: 10px;
    }
</style>

<h2>Редактирование личных данных педагогов.</h2>

<body class="d-flex h-100 text-bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Вы можете внести изменение в данных, если совершили ошибку.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @*@Html.LabelFor(model => model.F, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.EditorFor(model => model.F, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.F, "", new { @class = "text-danger" })
                </div>
                <p>Фамилия педагога</p>
            </div>

                <div class="form-group">
                    @*@Html.LabelFor(model => model.I, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.I, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.I, "", new { @class = "text-danger" })
                    </div>
                    <p>Имя педагога</p>
                </div>

                <div class="form-group">
                    @*@Html.LabelFor(model => model.O, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.O, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.O, "", new { @class = "text-danger" })
                    </div>
                    <p>Отчество педагога (при наличии)</p>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Сохранить изменения" class="btn btn-light" />
                    </div>
                </div>
            </div>
        }

        <div>
            <button type="button" class="btn btn-light">@Html.ActionLink("Вернуться в список", "Index")</button>
        </div>
    </div>
</body>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }

