@model ElJournal.Students 

@{
    ViewBag.Title = "Create";
}

<style>
    .btn {
        margin-bottom: 10px;
    }

    .col {
        margin-bottom: 10px;
    }
</style>


<h2>Создать зависимость студента и группы</h2>

<body class="d-flex h-100 text-bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <section>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Назначение студента в группу</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                    <div class="form-group">
                        @*@Html.LabelFor(model => model.ProfessorId, "ProfessorId", htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            @Html.DropDownList("UserId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                            <p>Почта студента</p>
                        </div>
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.GroupId, "GroupId", htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            @Html.DropDownList("GroupId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.GroupId, "", new { @class = "text-danger" })
                        </div>
                        <p>Группа</p>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Создать зависимость" class="btn btn-light" />
                        </div>
                    </div>
                </div>
            }

            <div>
                <button type="button" class="btn btn-light">@Html.ActionLink("Вернуться в список", "Index")</button>
            </div>
        </section>

        @*@section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
            <script type="text/javascript">
                $(function () {
                    $("#UserId").chosen();
                });
            </script>

            <script type="text/javascript">
                $(function () {
                    $("#GroupId").chosen();
                });
            </script>
        }*@

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
</body>