@model IEnumerable<ElJournal.Students>

@{
    ViewBag.Title = "Index";
}
<body class="d-flex h-100 text-center text-bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0">Электронный журнал</h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    @Html.Partial("_LoginPartial")
                    <button type="button" class="btn btn-light m-lg-1 mb-1">@Html.ActionLink("Домашняя страница", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</button>
                    <button type="button" class="btn btn-light m-lg-1 mb-1">@Html.ActionLink("Информация", "About", "Home", new { area = "" }, new { @class = "nav-link" })</button>
                    <button type="button" class="btn btn-light m-lg-1 mb-1"> @Html.ActionLink("Профиль", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })</button>
                    <button type="button" class="btn btn-light m-lg-1 mb-1"><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></button>
                </nav>
            </div>
        </header>
        <h2>Студент-группа</h2>

        <form asp-controller="Student" asp-action="Index">
            <p>
                Title: <input type="text" name="SearchString" />
                <input type="submit" id="Search" placeholder="Поиск" value="Filter" />
            </p>

        </form>

        <p>
            <button type="button" class="btn btn-light m-lg-1 mb-1">@Html.ActionLink("Создать новую зависимость", "Create", new { area = "" }, new { @class = "nav-link" })</button>
            <button type="button" class="btn btn-light m-lg-1 mb-1"> @Html.ActionLink("Добавить студента в группу", "NewStudent", new { area = "" }, new { @class = "nav-link" })</button>
        </p>

        <style>
            .Search {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }

            .maincard {
                margin-bottom: 20px;
            }

            card {
                display: flex;
                justify-content: space-between;
                bottom: 10px;
            }

            .card-title {
                color: black;
            }

            .card-text {
                color: black;
            }

            .nav-link {
                padding: 0;
                color: black;
            }
        </style>

        <div class="Search">
            @foreach (var item in Model)
            {
                <div class="Ыуф">
                    <div class="card" style="width: 18rem;">

                        <div class="maxcard">
                            <div class="card-body">
                                <h5 class="card-title">Данные студента</h5>
                                <p class="card-text">Почта студета и группа.</p>
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item">  @Html.DisplayFor(modelItem => item.User.SecondS)</li>
                                <li class="list-group-item">  @Html.DisplayFor(modelItem => item.User.NameS)</li>
                                <li class="list-group-item">  @Html.DisplayFor(modelItem => item.User.Email)</li>
                                <li class="list-group-item">  @Html.DisplayFor(modelItem => item.Group.CodeGroup)</li>
                            </ul>
                            <div class="card-body">
                                <button type="button" class="btn btn-dark">@Html.ActionLink("Редактировать", "Edit", new { id = item.Id })</button>
                                <button type="button" class="btn btn-dark">@Html.ActionLink("Удалить", "Delete", new { id = item.Id })</button>
                            </div>
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>
</body>