@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "About";
}

<style>
    .newitems {
        color: white;
    }

    .nav-link {
        padding: 0;
        color: black;
    }

    .card-body{
        color:black;
        text-align:justify;
    }

    .ZAGOLOVOK {
        text-align: center;
    }
</style>

<body class="d-flex h-100 text-center text-bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0">Журнал информации</h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    @Html.Partial("_LoginPartial")
                    <button type="button" class="btn btn-light m-lg-1 mb-1">@Html.ActionLink("Домашняя страница", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</button>
                    <button type="button" class="btn btn-light m-lg-1 mb-1">@Html.ActionLink("Информация", "About", "Home", new { area = "" }, new { @class = "nav-link" })</button>
                    <button type="button" class="btn btn-light m-lg-1 mb-1"> @Html.ActionLink("Профиль", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })</button>
                    @if (User.Identity.GetUserName() == "lulakushka@gmail.com")
                    {
                        <button type="button" class="btn btn-light m-lg-1 mb-1"> @Html.ActionLink("Лог действий", "Log", "Home", routeValues: null, htmlAttributes: new { title = "", @class = "nav-link" })</button>
                    }
                    else { }
                    <button type="button" class="btn btn-light m-lg-1 mb-1"><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></button>
                </nav>
            </div>
        </header>
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <main aria-labelledby="title">
                <h2 id="title">Помощь в приложении</h2>
                <h3>Если вы столкнулись с ошибкой в приложении, напишите</h3>

                <p>на почту lulakushka@gmail.com.</p>
                <button type="button" class="btn btn-light"><a href="javascript: history.go(-1)" class="nav-link">Вернуться в предыдущий раздел</a></button>
            </main>
        </div>

        <div class="card">
            <div class="card-body">
                <h1 class="ZAGOLOVOK">Лицензионное соглашение</h1>
                Настоящее Лицензионное соглашение является документом, регулирующим правила использования ПРОГРАММНОГО ПРОДУКТА системы «Журнал информации», обозначенного выше, физическим или юридическим лицом («Лицензиатом»), обладающим правомерно изготовленным и зарегистрированным в МПТ экземпляром данного продукта.

                ПРОГРАММНЫЙ ПРОДУКТ – это комплект поставки, в состав которого в числе прочего входит комплексное инструментальное средство, состоящее из программных модулей, указанных на домашней странице, и Лицензионное Соглашение, регулирующее правила использования ПРОГРАММНОГО ПРОДУКТА.

                Все исключительные имущественные права на обозначенный ПРОГРАММНЫЙ ПРОДУКТ (собственно программное обеспечение, записанное на машинных носителях, предоставляемые отдельно обновления и дополнения к программному обеспечению, а также любые сопроводительные материалы в печатном или электронном виде) принадлежат «Журнал информации» (далее – «Правообладатель»), зарегистрированному в г. Москве. Устанавливая ПРОГРАММНЫЙ ПРОДУКТ, осуществляя его запись в память ЭВМ, Лицензиат признает себя связанным условиями настоящего Лицензионного соглашения.

                По настоящему Лицензионному соглашению Лицензиату предоставляются отдельные неисключительные права, описанные ниже. Лицензиат обязан сохранять Лицензионное соглашение, входящее в комплект поставки ПРОГРАММНОГО ПРОДУКТА, в качестве документа, подтверждающего наличие у него прав, на использование ПРОГРАММНОГО ПРОДУКТА. Правообладатель оставляет за собой право в одностороннем порядке время от времени изменять условия технической поддержки, в том числе предоставления Лицензиату обновлений ПРОГРАММНОГО ПРОДУКТА, путем публикации соответствующего информационного сообщения на сайте Правообладателя.

                <h3 class="ZAGOLOVOK">ОПИСАНИЕ ПРАВ И ОГРАНИЧЕНИЙ</h3>
                Лицензиат имеет право установить и использовать ПРОГРАММНЫЙ ПРОДУКТ в соответствии с сопроводительной документацией только при наличии у Лицензиата правомерно приобретенных хотя бы одной основной поставки «1С:Предприятия 8». Лицензиат имеет право установить и использовать ПРОГРАММНЫЙ ПРОДУКТ на одном компьютере в один момент времени. Использование ПРОГРАММНОГО ПРОДУКТА на нескольких компьютерах допускается только при наличии у Лицензиата Клиентской лицензии «Журнал информации» на соответствующее количество рабочих мест, на которых будет использоваться ПРОГРАММНЫЙ ПРОДУКТ.
                Использование программных продуктов или компьютерного оборудования, позволяющего сократить количество пользователей, которые имеют непосредственный доступ к ПРОГРАММНОМУ ПРОДУКТУ или используют его (что иногда называют программными или техническими средствами «мультиплексирования»), не уменьшает количества требуемых Клиентских лицензий «1С:Предприятия 8» – требуемое количество Клиентских лицензий должно соответствовать числу отдельных вводов мультиплексирующих программных или аппаратных средств, с которыми осуществляется прямое взаимодействие.
                Передача прав по настоящему Лицензионному соглашению третьим лицам возможна только при условии передачи им полного комплекта поставки ПРОГРАММНОГО ПРОДУКТА (включая настоящее Лицензионное соглашение), обладателем которого являлся Лицензиат; а также основной поставки «1С:Предприятия 8», указанной выше в регистрационной карточке. При этом первоначальный Лицензиат обязан удалить со своего компьютера имеющиеся копии ПРОГРАММНОГО ПРОДУКТА и уведомить о передаче прав Правообладателя.
                Лицензиат обязуется не допускать нарушений исключительных прав Правообладателя на ПРОГРАММНЫЙ ПРОДУКТ, в частности, не совершать и не допускать совершения третьими лицами следующих действий без специального письменного разрешения Правообладателя:
                распространять ПРОГРАММНЫЙ ПРОДУКТ или отдельные его компоненты;
                вносить какие-либо изменения в код ПРОГРАММНОГО ПРОДУКТА, содержимое баз данных и других наборов данных, в которых система хранит информацию, за исключением тех изменений, которые вносятся штатными средствами, входящими в состав ПРОГРАММНОГО ПРОДУКТА и описанными в сопроводительной документации;
                модифицировать поведение платформы «Журнал информации» любыми средствами, за исключением входящих в состав ПРОГРАММНОГО ПРОДУКТА и описанных в сопроводительной документации;
                осуществлять доступ к информационной базе ПРОГРАММНОГО ПРОДУКТА и построение систем на основе ПРОГРАММНОГО ПРОДУКТА с помощью средств и технологических решений, не предусмотренных в сопроводительной документации;
                совершать действия, результатом которых является устранение или снижение эффективности технических средств защиты авторских прав, применяемых Правообладателем, включая применение программных и технических средств «мультиплексирования», средств, изменяющих алгоритм работы программных или аппаратных средств защиты ПРОГРАММНОГО ПРОДУКТА, а также использовать ПРОГРАММНЫЙ ПРОДУКТ с устраненными или измененными без разрешения Правообладателя средствами защиты;
                восстанавливать исходный код, декомпилировать и/или деассемблировать программную часть системы, за исключением тех случаев, и лишь в той степени, в какой такая деятельность специально разрешена действующим законодательством.
                
                
                Права в рамках  настоящего Лицензионного соглашения предоставляются на срок, указанный в наименовании оплаченного пакета использования (тарифа), избранного Лицензиатом.
                Отчуждение и предоставление прав третьим лицам, а равно любое иное распространение и продажа ПРОГРАММНОГО ПРОДУКТА правомерны только на территории следующих стран: Российская Федерация, Азербайджанская Республика, Республика Армения, Республика Беларусь, Республика Грузия, Республика Казахстан, Кыргызская Республика, Латвийская Республика, Литовская Республика, Республика Молдова, Республика Таджикистан, Туркменистан, Республика Узбекистан, Эстонская Республика.
            </div>
        </div>
</body>

